:root {
  font-family: 'GFS Didot', serif;
  color-scheme: dark;

  --text: #c5b8db;
  --background: #160813;
  --border: #392034;
}

* {
  box-sizing: border-box;
}

html { 
  display: flex;
  background-color: black;
  height: auto !important; /* evita que el fondo se entrecorte */
  color: var(--text);  
  scrollbar-gutter: stable; /* evita saltos de layout con el scrollbar */

  &:has(input:checked) { overflow: hidden; }
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--background);

  &:has(input:checked) { background-color: transparent; }
}

content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 750px;
  margin: 5rem;
  padding: 3rem;
  gap: 2rem;
  border-radius: .75rem;
  border: 1px solid var(--border); /* 20% de la opacidad de text */
  background-color: var(--background);
  box-shadow: black 0px 5px 20px 10px;

  /* Valor por defecto de opacidad y animación */
  opacity: 1; 
  transition: opacity 0.4s ease-in-out;

  /* Oculta y desactiva el body si el input está chequeado */
  &:has(input:checked) { 
    opacity: 0; 
    pointer-events: none; 
    overflow: hidden; 
  }
}

header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

h2 {
  margin: 0.5rem 0 0;
  font-size: 1.5rem;
}

h3 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

p {
  margin: 0;
  line-height: 1.5rem;
}

a {
  color: var(--text);
}

canvas {
  position: fixed;
  height: 100%;
  margin: 0px !important;
  z-index: -1;
}

label {
  border-radius: 20px;
  padding: 25px 100px;
  font-size: 2rem;
  text-transform: uppercase;
  background: #33162d;
  border: 1px solid #5e3b57;
  cursor: pointer;

  &:hover { background: #3f1c39; }

  &:active { background: #1e0c1b; }

  &:has(input:checked) { box-shadow: inset 0px 0px 20px 0px #89548b; }
}

/* To allow screen reader to still access these. */
input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}