/* disclaimer: no se recomienda utilizar las técnicas 
  empleadas en este css como referencia de ningún tipo */

:root {
  font-family: 'GFS Didot', serif;
  color-scheme: dark;

  --text: #c5b8db;
  --background: #160813;
  --border: #392034;
}

* {
  box-sizing: border-box;
}

html {
  color: var(--text);
  scrollbar-gutter: stable; /* evita saltos de layout con el scrollbar */
  overscroll-behavior: none; /* evita el efecto rebote en moviles y portátiles */
  background-color: black;
  scrollbar-width: none; /* crimen de guerra nº 3 */
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* &:has(#init:checked) { position: fixed; } */
}

header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

h1 {
  margin: 0;
  font-size: 3rem;
}

h2 {
  margin: 0.5rem 0 0;
  font-size: 1.5rem;
}

h3 {
  margin-bottom: 1rem;
  font-size: 1.25rem;
}

p {
  margin: 0;
  line-height: 1.5rem;
}

a {
  color: var(--text);
}

content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 750px;
  margin: 5rem;
  padding: 3rem;
  gap: 2rem;
  border-top-left-radius: .75rem;
  border-top-right-radius: .75rem;
  border: 1px solid var(--border);
  border-bottom: none;
  background-color: var(--background);
  box-shadow: rgba(0, 0, 0, 0.714) 0px 5px 20px 10px;

  /* transiciones para los menús */
  transition: transform 0.4s ease-in-out, display ease-in-out 0.4s;
  transition-behavior: allow-discrete;
}

canvas { /* canvas por defecto */
  position: fixed;
  margin: 0px !important;
  z-index: -1;
  pointer-events: all;
}

label { /* boton por defecto */
  border-radius: 20px;
  padding: 25px 100px;
  font-size: 2rem;
  background: #33162d;
  border: 1px solid #5e3b57;
  cursor: pointer;

  &:hover { background: #3f1c39; }

  &:active { background: #1e0c1b; }

  &:has(#play-btn:checked) {
    box-shadow: inset 0px 0px 20px 0px #89548b;
  }
}

input { /* para conservar la accessibilidad (aunque seguramente no funcione) */
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

label:has(#pause-btn) { /* pause-btn por defecto */
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 22px;
  width: 30px;
  height: 30px;
  padding: 0px;
  top: 10px;
  right: 5px;
  box-shadow: rgb(0, 0, 0) 0px 5px 20px 10px;
}

label:has(#pause-btn) { /* pause-btn cuando está oculto */
  opacity: 0;
  pointer-events: none;
}

#startup-page:has(#play-btn:checked) ~ label:has(#pause-btn) { /* pause-btn cuando está visible */
  pointer-events: all;
  opacity: 1;
}

#startup-page:has(#play-btn:checked) { /* menú inicial cuando está oculto */
  transform: translateY(100%);
  display: none;
}

@starting-style { /* estado inicial del menú inicial*/
  #startup-page:has(#play-btn:checked) {
    transform: translateY(0);
  }
}

#pause-page { /* menú de pausa cuando está oculto */
  display: none;
  transform: translateY(100%);
  
}

#pause-page:has(+ label > #pause-btn:checked) { /* menú de pausa cuando está visible */
  transform: translateY(0);
  display: flex;
}

@starting-style { /* estado inicial del menú de pausa */
  #pause-page:has(+ label > #pause-btn:checked) {
    transform: translateY(100%);
  }
}