/* disclaimer: no se recomienda utilizar las técnicas 
  empleadas en este css como referencia de ningún tipo */

:root {
  font-family: "Cinzel", serif;
  color-scheme: dark;

  --text: #d9a2edf2;
  --background: #2b1027;
  --border: #a5649be3;
}

* {
  box-sizing: border-box;
}

html {
  color: var(--text);
  overscroll-behavior: none; /* evita el efecto rebote en moviles y portátiles */
  background-color: black;
  scrollbar-width: none; /* crimen de guerra nº 3 */
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

footer {
  text-align: center;

  h3 { margin-top: 1rem;}
  p { text-align: center; line-height: 2rem; }
}

h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  margin: 0.5rem 0 0;
  font-size: 1.5rem;
}

h3 {
  margin-bottom: 1.5rem;
  margin-top: 2.5rem;
  font-size: 1.25rem;
  font-weight: 800;
}

p {
  margin: 0;
  line-height: 1.6rem;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0 1rem;
  text-align: justify;
}

a {
  color: var(--text);
  font-weight: 800;
}

content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 85%;
  max-width: 750px;
  height: calc(100dvh + 5rem);
  min-height: min-content;
  margin: 5rem;
  margin-bottom: 0;
  padding: 3rem;
  gap: 2rem;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  border: 1px solid var(--border);
  border-bottom: none;
  background-color: var(--background);
  box-shadow: rgba(0, 0, 0, 0.714) 0px 5px 20px 10px;

  /* transiciones */
  transition: transform 0.4s ease-in-out, display ease-in-out 0.4s;
  transition-behavior: allow-discrete;
}

canvas { /* canvas por defecto */
  position: fixed;
  margin: 0 !important;
  z-index: -2;
  position: fixed; bottom: 0;
}

background { /* background por defecto */
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #000000b4;
  backdrop-filter: blur(15px);
  opacity: 1;
  
  /* transiciones */
  transition: opacity 0.4s ease-in-out;
}

content:has(#play-btn:checked) ~ background { /* background cuando el juego no está pausado */
  opacity: 0;
}

label:has(#pause-btn:checked) ~ background { /* background cuando el juego esta pausado */
  opacity: 1;
}

label { /* boton por defecto */
  border-radius: 2rem;
  margin-top: 1rem;
  padding: 25px 100px;
  font-size: 2.5rem;
  font-weight: 600;
  background: #47113c;
  border: 1px solid var(--border);
  cursor: pointer;

  /* transiciones */
  transition: opacity 0.4s ease-in-out, background 0.2s ease-in-out;

  &:hover { background: #58174f;}

  &:active { background: #360a2d; }
}

input { /* para conservar la accessibilidad (aunque seguramente no funcione) */
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

label:has(#pause-btn) { /* pause-btn por defecto */
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  width: 40px;
  height: 40px;
  padding: 0px;
  top: 10px;
  right: 10px;
  border-radius: .75rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 20px 10px;
}

label:has(#pause-btn) { /* pause-btn cuando está oculto */
  opacity: 0;
  pointer-events: none;
}

label:has(#pause-btn:checked) { /* pause-btn cuando está oculto */
  font-size: 0;

  &:after {
    content: 'X';
    font-size: 20px;
  }
}

#startup-page:has(#play-btn:checked) ~ label:has(#pause-btn) { /* pause-btn cuando está visible */
  pointer-events: all;
  opacity: 1;
}

#startup-page:has(#play-btn:checked) { /* menú inicial cuando está oculto */
  transform: translateY(100%);
  display: none;
}

@starting-style { /* estado inicial del menú inicial*/
  #startup-page:has(#play-btn:checked) {
    transform: translateY(0);
  }
}

#pause-page { /* menú de pausa cuando está oculto */
  display: none;
  transform: translateY(100%);
  
}

#pause-page:has(+ label > #pause-btn:checked) { /* menú de pausa cuando está visible */
  transform: translateY(0);
  display: flex;
}

@starting-style { /* estado inicial del menú de pausa */
  #pause-page:has(+ label > #pause-btn:checked) {
    transform: translateY(100%);
  }
}