/* En este css se implementa parte de la lógica de botónes e interacción-
adaptabilidad de la web en torno al menú de pausa y los botónes de acción */

:root {
  font-family: "Cinzel", serif;
  color-scheme: dark;

  --text: #d9a2edf2;
  --background: #2b1027;
  --border: #a5649be3;
}

* {
  box-sizing: border-box;
}

html {
  color: var(--text);
  overscroll-behavior: none;
  background-color: black;
  scrollbar-width: none;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
}

header {
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

footer {
  text-align: center;

  h3 { margin-top: 1rem; }

  p {
    text-align: center;
    line-height: 2rem;
  }
}

h1 {
  margin: 0;
  font-size: 3rem;
  font-weight: 700;
}

h2 {
  margin: 0.5rem 0 0;
  font-size: 1.5rem;
}

h3 {
  margin-bottom: 1.5rem;
  margin-top: 2.5rem;
  font-size: 1.25rem;
  font-weight: 800;
}

p {
  margin: 0;
  line-height: 1.6rem;
  font-size: 0.9rem;
  font-weight: 500;
  margin: 0 1rem;
  text-align: justify;
}

a {
  color: var(--text);
  font-weight: 800;
}

img {
  width: 100%;
  max-width: 750px;
}

content {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 85%;
  max-width: 750px;
  height: calc(100dvh + 5rem);
  min-height: min-content;
  margin: 5rem;
  margin-bottom: 0;
  padding: 3rem;
  gap: 2rem;
  border-top-left-radius: 5rem;
  border-top-right-radius: 5rem;
  border: 1px solid var(--border);
  border-bottom: none;
  background-color: var(--background);
  box-shadow: rgba(0, 0, 0, 0.714) 0px 5px 20px 10px;
  /* transiciones */
  transition: transform 0.4s ease-in-out, display ease-in-out 0.4s;
  transition-behavior: allow-discrete;
}

/* menos gap en pausa para ver mejor los controles */
#pause-page {
  gap: 0; 
}

/* canvas por defecto */
canvas { 
  position: fixed;
  margin: 0 !important;
  bottom: 0;
  z-index: -3;
}

/* background por defecto */
background {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #000000b4;
  backdrop-filter: blur(15px);
  opacity: 1;
  /* transiciones */
  transition: opacity 0.4s ease-in-out;
}

/* clock por defecto */
clock {
  position: fixed;
  border: 1px solid var(--border);
  border-top: none;
  border-radius: 1.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  background: #47113c;
  overflow: hidden;
  user-select: none;
  width: 100px;
  height: 40px;
  margin-right: 50px;
  align-self: center;
  text-align: center;
  align-content: center;
  font-size: 1.5rem;
  font-weight: 600;
  z-index: -2;
}

/* contenedor de vida por defecto */
healthbar {
  display: none;
  position: fixed;
  border: 1px solid var(--border);
  background: #47113c;
  overflow: hidden;
  user-select: none;
  width: 25%;
  height: 20px;
  top: 10px;
  right: 60px;
  border-radius: .75rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 20px 10px;
  z-index: -2;
}

/* contenedor izquierdo */
healthbar.left {
  left: 10px;
  justify-content: left;
}

/* contenedor derecho */
healthbar.right {
  right: 60px;
  justify-content: right;
}

/* barra de vida (como tal) */
healthbar > div {
  width: 100%;
  height: 100%;
  border-radius: inherit;
  background-color: #a13092;
  transition: width 0.3s ease-out;
}

/* background cuando el juego está en el menú inicial */
content:has(#play-btn:not(:checked)) ~ background { 
  opacity: 1;
  background: url("assets/background.png");
}

/* background cuando el juego no está pausado */
content:has(#play-btn:checked) ~ background {
  opacity: 0;
}

/* background cuando el juego esta pausado */
label:has(#pause-btn:checked) ~ background { 
  opacity: 1;
}

/* boton por defecto */
label {
  border-radius: 2rem;
  margin-top: 1rem;
  padding: 25px 100px;
  font-size: 2.5rem;
  font-weight: 600;
  background: #47113c;
  border: 1px solid var(--border);
  cursor: pointer;
  /* transiciones */
  transition: opacity 0.4s ease-in-out, background 0.2s ease-in-out;
  &:hover { background: #58174f; }
  &:active { background: #360a2d; }
}

input {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

label:has(#pause-btn) { 
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  width: 40px;
  height: 40px;
  padding: 0px;
  top: 10px;
  right: 10px;
  border-radius: .75rem;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 20px 10px;
}

/* pause-btn cuando está oculto */
label:has(#pause-btn) {
  opacity: 0;
  pointer-events: none;
}

/* pause-btn cuando está oculto */
label:has(#pause-btn:checked) {
  font-size: 0;
  &:after {
    content: 'X';
    font-size: 20px;
  }
}

/* pause-btn cuando está visible */
#startup-page:has(#play-btn:checked)~label:has(#pause-btn) {
  pointer-events: all;
  opacity: 1;
}

/* menú inicial cuando está oculto */
#startup-page:has(#play-btn:checked) {
  transform: translateY(100%);
  display: none;
}

/* estado inicial del menú inicial*/
@starting-style {  
  #startup-page:has(#play-btn:checked) {
    transform: translateY(0);
  }
}

/* menú de pausa cuando está oculto */
#pause-page {
  display: none;
  transform: translateY(100%);
}

/* menú de pausa cuando está visible */
#pause-page:has(+ label > #pause-btn:checked) {
  transform: translateY(0);
  display: flex;
}

/* estado inicial del menú de pausa */
@starting-style {
  #pause-page:has(+ label > #pause-btn:checked) {
    transform: translateY(100%);
  }
}